body{
    background-color: #181027;
    color: white;
    margin: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .grid-6{
    text-align: right;
    
}


.landingimg{
    width: 70%;
    
}

.hlanding{
    padding-top: 15%;
    padding-left: 5%;
    text-align: left;
}

.toplogo{
    width: 80%;
}

.grid-8 ul{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
}

.grid-8 ul li{
    padding-left: 5%;
    padding-bottom: 2%;
}

ul li:hover {
    border-bottom: 1px solid gainsboro;
}


.button {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    
  }

.button:hover {opacity: 0.6}


.footer {
    background-color:rgb(47, 4, 78);
    margin: auto; 
    position: absolute;
    padding: 5% 5%;
    width: 100%;
  }

  .footer .grid-6 h4{
    padding-top: 3%;
  }
  
  .footer .grid-5 h4{
    padding-top: 3%;
  }

  .footer .grid-5 p{
    padding-bottom: 3%;
    font-size: 10px;
    font-weight: normal;
  }

  .footer .grid-5 .button{
    border:solid red;
    background: none;
    width:100%;
    font-size: 10px;
  }

  @media screen and (max-width: 800px) { 

    body{
        margin-top: 5%;
        text-align: center;
    }
    .container .grid-2{
        text-align: left;
    }

    .container .grid-2 img{
        width: 50%;
    }
    
    .container .grid-2 .button{
        margin-left: 15%;
    }

    .button{
        width: 65%;
    }
   
    .container .grid-6{
    text-align: center;
   }
    .footer{
        text-align: left;
        font-size: larger;
    }

    .footer .grid-6 h2{
        display: none;
    }
    
    .footer .grid-5 {
        margin-left: 5%;
    }

    .footer .grid-5 p{
        font-size: large;
    }


    .footer .grid-5 .button{
        display: none;
    }
  }